apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: assignment
spec:
  ingressClassName: nginx
  rules:
  - host: techolution-assignment.homelabcraft.ovh
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-service
            port:
              number: 80
