apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - hpa.yaml
  - ingress.yaml

patches:                            
  - target:
      kind: Deployment
      name: app-deployment
    patch: |-          # Add resource requests and limits to the deployment
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi     
